body{
    background-size: cover;
}
.heading{
    font-size: 18.5px;
    border-radius: 20px;
    color: whitesmoke;
    padding: 5px;
    line-height: 1.75;
}
#warning{
    color: red;
    font-weight: bold;
}
.cocoName{
    font-weight: bolder;
    font-style: italic;
}
.copyright_footer{
    position: fixed;
    bottom: 0;
    float: none;
    text-align: center;
    background-color: #f5f5f5;
box-shadow: 5px 5px 5px gray;
width: 100%;
line-height: 3;
font-size: 18px; 
}
.aTags{
border-radius: 10px;
color: #5D7D9A;
}